registry=http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones.npm/
@sf:registry="https://docker.repositories.sap.ondemand.com/api/npm/sf-ui/"
//docker.repositories.sap.ondemand.com/api/npm/sf-ui/:username=sf-ui-read
//docker.repositories.sap.ondemand.com/api/npm/sf-ui/:email=sf-ui-read@sap.com
//docker.repositories.sap.ondemand.com/api/npm/sf-ui/:always-auth=true
//docker.repositories.sap.ondemand.com/api/npm/sf-ui/:_password=eVN4UFozT1c2ZzlqbHN2Yg==
