registry=http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones.npm/
@sf:registry="https://docker.repositories.sap.ondemand.com/api/npm/sf-ui/"
//https://docker.repositories.sap.ondemand.com/:username=sf-ui-read
//https://docker.repositories.sap.ondemand.com/:email=sf-ui-read@sap.com
//https://docker.repositories.sap.ondemand.com/:always-auth=true
//https://docker.repositories.sap.ondemand.com/:_password=c2YtdWktcmVhZDp5U3hQWjNPVzZnOWpsc3Zi
